#tab-details,
#tab-roles,
#tab-events {
  width: 70ch;
  max-width: 100%;
}

#tab-roles {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-5);

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

/* mobile devices */
@media screen and (max-width: 768px) {
  #tab-details {
    width: 100%;
  }
}
