name: CI/CD admin-app

on:
  push:
    branches:
      - main
  workflow_dispatch:
env:
  DOTNET_VERSION: "10.x" # Global environment variables

jobs:
  deploy-to-test:
    name: Deploy to Test Environment
    runs-on: ubuntu-latest
    environment:
      name: test

    steps:
      - name: Checkout Code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: GitHub metadata
        run: |
          printf "%s on %s by %s\n" "$GITHUB_REPOSITORY" "$GITHUB_REF_NAME" "$GITHUB_ACTOR"

      - name: Set up .NET
        uses: actions/setup-dotnet@55ec9447dda3d1cf6bd587150f3262f30ee10815 # v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release

      - name: Run Tests
        run: dotnet test -c Release --no-build --verbosity normal

      - name: Publish
        run: dotnet publish ./oed-admin.Server/oed-admin.Server.csproj --no-build -c Release -o ./publish
        env:
          VITE_ENVIRONMENT: ${{ vars.VITE_ENVIRONMENT }}
          VITE_CLIENT_ID: ${{ vars.VITE_CLIENT_ID }}

      - name: Deploy to Azure App Service (Test)
        uses: azure/webapps-deploy@122b7ec46017e53a3f71e3a027d67550a1641f5e # v2
        with:
          app-name: "${{ vars.APP_SERVICE_NAME}}"
          publish-profile: ${{ secrets.PUBLISH_PROFILE }}
          package: ./publish/

  deploy-to-prod:
    name: Deploy to Production Environment
    needs: deploy-to-test
    runs-on: ubuntu-latest
    environment:
      name: production

    steps:
      - name: Await Manual Approval
        if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          echo "Waiting for manual approval"

      - name: Checkout Code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: GitHub metadata
        run: |
          printf "%s on %s by %s\n" "$GITHUB_REPOSITORY" "$GITHUB_REF_NAME" "$GITHUB_ACTOR"

      - name: Set up .NET
        uses: actions/setup-dotnet@55ec9447dda3d1cf6bd587150f3262f30ee10815 # v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release

      - name: Run Tests
        run: dotnet test -c Release --no-build --verbosity normal

      - name: Publish
        run: dotnet publish ./oed-admin.Server/oed-admin.Server.csproj --no-build -c Release -o ./publish
        env:
          VITE_ENVIRONMENT: ${{ vars.VITE_ENVIRONMENT }}
          VITE_CLIENT_ID: ${{ vars.VITE_CLIENT_ID }}

      - name: Deploy to Azure App Service Staging Slot
        uses: azure/webapps-deploy@122b7ec46017e53a3f71e3a027d67550a1641f5e # v2
        with:
          app-name: "${{ vars.APP_SERVICE_NAME}}"
          publish-profile: ${{ secrets.PUBLISH_PROFILE }}
          package: ./publish/
